body, html {
  width: 100%;
  height: 100%; }

.margin {
  width: 1210px;
  margin: 0 auto; }

header {
  font: 12px/32px "";
  width: 100%;
  height: 32px;
  background-color: #eee; }

header .p01 {
  float: left; }

header .header-r {
  float: right; }

#menu {
  height: 108px; }

#menu .menu-l {
  float: left;
  margin-left: 12px; }

#menu .search {
  float: right;
  margin-top: 30px; }

#menu .search .search-t {
  position: relative; }

#tet {
  position: absolute;
  top: -8px;
  right: 26px;
  text-align: center;
  color: #fff;
  border: none;
  width: 15px;
  height: 15px;
  background: url(../img/v1.0.1_icon.png) no-repeat;
  background-position: 0px -587px; }

#menu .search .search-t .inpId {
  float: left;
  width: 416px;
  height: 33px;
  border: 2px solid #C62928;
  border-right: none; }

#menu .search .search-t .btnId {
  float: left;
  height: 37px;
  width: 90px;
  background-color: #C32928;
  border: 2px solid #C62928;
  border-left: none; }

#menu .search .search-t .btnId01 {
  float: right;
  margin-left: 90px;
  height: 34px;
  width: 134px;
  border: 1px solid #E1E0EC;
  background-color: #EFEFEF; }

#menu .search-b {
  margin-top: 12px;
  margin-top: 12px; }

nav {
  height: 36px;
  font-size: 12px;
  color: #666; }

nav ul {
  float: left; }

nav ul li {
  float: left;
  margin: 12px 28px; }

nav .nav-r {
  float: right;
  margin-top: 12px; }

#banner {
  height: 400px;
  position: relative;
  border-top: 2px solid #C62928; }

#pass {
  height: 376px;
  margin-top: 48px;
  background: url(../img/product_bg.png) no-repeat center; }

#pass .pass-l {
  float: left;
  width: 600px; }

#pass .pass-l .pass-l-l {
  float: left;
  width: 250px;
  margin-left: 50px;
  margin-top: 100px; }

#pass .pass-l .pass-l-l .aaId {
  display: block;
  padding-left: 5px;
  text-align: center;
  font: 18px/33px "";
  color: #fff;
  width: 170px;
  height: 33px;
  background: url(../img/join.png) no-repeat; }

#pass .pass-l .imgId01 {
  float: right;
  width: 260px;
  margin: 90px 20px 0 0; }

#pass .pass-r {
  float: right;
  width: 600px; }

#pass .pass-r .pass-r-l {
  float: left;
  width: 250px;
  margin-left: 50px;
  margin-top: 100px; }

#pass .pass-r .pass-r-l .aaId {
  display: block;
  padding-left: 5px;
  text-align: center;
  font: 18px/33px "";
  color: #fff;
  width: 170px;
  height: 33px;
  background: url(../img/join.png) no-repeat; }

#pass b {
  font: 700 0.5 "";
  color: #666; }

#pass s {
  color: red;
  font: 12px/32px ""; }

#pass p {
  margin-top: 30px;
  font: 0.5 "";
  display: block;
  color: #666;
  height: 50px; }

#pass .pass-r .imgId02 {
  float: right;
  width: 260px;
  margin: 90px 0px 0 0; }

#cook {
  height: 1340px;
  text-align: center;
  margin-top: 40px; }

#cook .cook-t {
  height: 72px;
  width: 100%; }

#cook ul li {
  float: left;
  width: 250px;
  margin: 40px 26px 0 26px; }

#cook ul li .aId {
  display: block;
  width: 175px;
  height: 33px;
  background: url(../img/join2.png) no-repeat;
  padding-left: 5px;
  text-align: center;
  font: 18px/33px "";
  color: #98805c; }

#cook ul li s {
  color: red;
  font: 12px/32px ""; }

#friend {
  padding: 22px 105px;
  margin-top: 40px;
  background-color: #efefef;
  text-align: center; }

#friend ul li {
  float: left;
  width: 196px;
  height: 104px;
  border-left: 1px solid #ccc; }

#friend ul li s {
  display: block;
  margin: 0 75px;
  background: url(../img/v1.0.1_icon.png) no-repeat;
  width: 54px;
  height: 54px; }

#friend ul li s.li05 {
  background-position: -100px -150px; }

#friend ul li s.li06 {
  background-position: -170px -150px; }

#friend ul li s.li07 {
  background-position: -240px -150px; }

#friend ul li s.li08 {
  background-position: -100px -210px; }

#friend ul li s.li09 {
  background-position: -170px -210px; }

#friend ul li.te {
  border-right: 1px solid #ccc; }

#friend ul li b {
  display: block;
  font: 700 18px/36px "";
  color: #666; }

footer {
  font: 12px/62px "";
  color: #666;
  text-align: center;
  padding-bottom: 32px; }

body {
  position: relative; }

.bod {
  position: fixed;
  top: 500px;
  right: 0;
  width: 60px;
  height: 2px; }

.bod ul {
  border: 1px solid #C7C7C7; }

.bod ul li {
  display: block;
  width: 60px;
  height: 66px;
  border-bottom: 1px solid #C7C7C7;
  background: url(../img/v1.0.1_icon.png) no-repeat; }

.bod ul li i {
  padding-top: 40px;
  display: block;
  text-align: center; }

.bod ul li.li01 {
  background-position: -250px 12px; }

.bod ul li.li02 {
  background-position: 14px 10px; }

.bod ul li.li03 {
  background-position: -52px 10px; }

.bod ul li.li04 {
  background-position: -316px 12px; }

#btn01 {
  position: fixed;
  top: 635px;
  right: 5px;
  text-align: center;
  color: #fff;
  border: none;
  width: 15px;
  height: 15px;
  background: url(../img/v1.0.1_icon.png) no-repeat;
  background-position: 0px -587px; }
